<p>
  <h1><%= @organization.name %></h1>
</p>

<%= render partial: 'address', locals: { addressable: @organization } %>

<p class='phone'>
  <%= @organization.phone_number %>
</p>

<div>
  <%= render partial: 'upcoming_events' %>
</div>
